/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.08.2014, 7:49:44
    Author     : address
*/
.edgecdnlogo img{
    vertical-align: middle;
}
.edgecdnlogo span{
    vertical-align: middle;
}
.edgecdn_icon{
    background: url("/bitrix/images/skypark.cdn/edgecdn.png") no-repeat center;
    background-size: 21px;
}

