p.vz_b1_tx1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 51px;
    color: #fff;
    font-weight: 600;
}

p.vz_b1_tx2 {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    margin: 0;
    margin-top: 77px;
}

.box1_vz_b1 {
    display: flex;
    margin-top: -25px;
}

p.box1_vz_b1_tx {
    width: 600px;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    line-height: 31px;
    color: #cbbd91;
    letter-spacing: 0.6px;
    font-weight: 300;
}

.box1_vz_b1_text {
    align-self: center;
    margin-right: 29px;
}

.box2_vz_b1 {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    border-top: 1px solid #505154;
    margin-top: -10px;
}

p.box2_vz_b1_item_tx {
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    font-weight: 300;
    margin-top: 41px;
}

p.box2_vz_b1_item_tx b,
p.box2_vz_b1_item_tx .b {
    font-weight: 500;
    color: #cbbd91;
}

.box2_vz_b1_item:after {
    content: "?";
    width: 34px;
    height: 34px;
    background-color: #505154;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: #cbbd91;
    font-size: 14px;
    font-weight: 300;
    line-height: 13.19px;
    position: absolute;
    left: 0;
    right: 0;
    top: -17px;
    letter-spacing: 0.3px;
}

.box2_vz_b1_item {
    position: relative;
}

.box2_vz_b1_item:nth-child(1):after {
    content: "01";
}

.box2_vz_b1_item:nth-child(2):after {
    content: "02";
}

.box2_vz_b1_item:nth-child(3):after {
    content: "03";
}

p.vz_b2_zg {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    color: #fff;
    margin: 0;
    font-weight: 500;
    margin-bottom: 35px;
}

.box1_vz_b2_item {
    align-self: center;
}

.box1_vz_b2_main {max-width: 820px;}

a.ds-form-box-main-input_kn {font-size: 16px;font-weight: 400;text-decoration: underline; letter-spacing: 0.4px;color: #fff;font-weight: 300;background: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23b49d72' height='510pt' viewBox='-25 0 510 510.25747' width='510pt' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m427.828125 314.484375-37.738281-37.738281-169.816406-169.808594c-31.296876-31.0625-81.816407-30.96875-112.996094.210938-31.179688 31.179687-31.273438 81.699218-.210938 112.996093l169.808594 169.859375c6.945312 6.949219 18.210938 6.949219 25.160156 0 6.945313-6.949218 6.945313-18.210937 0-25.160156l-169.808594-169.859375c-17.367187-17.367187-17.367187-45.519531 0-62.886719 17.367188-17.367187 45.519532-17.367187 62.886719 0l169.859375 169.808594 37.738282 37.734375c31.265624 31.277344 31.253906 81.976563-.019532 113.238281-31.277344 31.261719-81.972656 31.253906-113.238281-.023437l-31.441406-31.453125-176.101563-176.101563-12.582031-12.578125c-43.976563-45.351562-43.417969-117.601562 1.25-162.273437 44.671875-44.667969 116.921875-45.226563 162.273437-1.25l188.679688 188.683593c4.496094 4.492188 11.046875 6.246094 17.183594 4.601563 6.140625-1.644531 10.9375-6.4375 12.582031-12.578125s-.113281-12.6875-4.605469-17.183594l-188.679687-188.679687c-59.089844-58.820313-154.640625-58.710938-213.59375.246093-58.957031 58.953126-59.066407 154.503907-.246094 213.59375l188.679687 188.679688 31.488282 31.453125c45.410156 43.617187 117.375 42.890625 161.890625-1.640625 44.519531-44.527344 45.226562-116.492188 1.597656-161.890625zm0 0'/%3e%3c/svg%3e") no-repeat center left;background-size: 37px;padding-left: 62px;display: flex;}

a.ds-form-box-main-input_kn:hover {
    text-decoration: none;
}

#ds-form-3\ box1_vz_b2_form > div > div:nth-child(1) {
    margin-right: 50px;
}

.box1_vz_b3 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box1_vz_b3_text {
    align-self: center;
}

p.box1_vz_b3_tx1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 51px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 69px;
}

p.box1_vz_b3_tx2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.6px;
    color: #cbbd91;
    font-weight: 300;
    margin-bottom: 55px;
}

a.box1_vz_b3_text_kn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    max-width: 270px;
    width: 260px;
    height: 60px;
}

.box2_vz_b3 > div {
    background: url(../../img/old/vizit/vz_b3_bg.png);
    margin-top: 75px;
}
.webp .box2_vz_b3 > div {
    background: url(../../img/old/vizit/vz_b3_bg.webp);
    margin-top: 75px;
}

.ds-bg-zg.ds-bg-1.vz_pad p {
    padding: 15px 50px;
}

p.vz_b4_zg {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    color: #cbbd91;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 144px;
}

p.vz_b4_zg b {
    font-weight: 600;
}

.box1_vz_b4_item_tx1 svg {
    width: 69px;
    fill: #515151;
}

.box1_vz_b4_item_tx1 {
    display: flex;
}

.box1_vz_b4_item {
    display: flex;
    justify-content: space-between;
}

.box1_vz_b4_item_tx1 p {
    align-self: center;
    padding-left: 27px;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0.57px;
}

.box1_vz_b4_item:nth-child(2) {
    flex-direction: row-reverse;
    margin-top: 134px;
}

.box1_vz_b4_item:nth-child(2) .box1_vz_b4_item_text {
    margin-right: 38px;
}

.box2_vz_b4_item svg {
    height: 68px;
    fill: #505050;
}

p.box2_vz_b4_item_tx1 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    letter-spacing: 0.65px;
    font-weight: 300;
    margin-bottom: 45px;
}

p.box2_vz_b4_item_tx1 b {
    font-weight: 600;
    color: #b49d72;
}

.box2_vz_b4_item {
    margin-bottom: 57px;
}

.box2_vz_b4 {
    margin-left: 100px;
    margin-top: 50px;
}

.webp .box1_vz_b5 > div {
    background: url(../../img/old/vizit/vz_b5_bg.webp) no-repeat center;
}
.box1_vz_b5 > div {
    background: url(../../img/old/vizit/vz_b5_bg.png) no-repeat center;
}

.box2_vz_b5 {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    border-top: 1px solid #505154;
    margin-top: 118px;
}

.box2_vz_b5_tx p {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 300;
    width: 290px;
    margin-top: 75px;
}

.box2_vz_b5_tx p b {
    font-weight: 500;
    color: #b49d72;
}

.box2_vz_b5_tx:after {
    content: "x";
    width: 34px;
    height: 34px;
    background-color: #505154;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-weight: 600;
    line-height: 13.19px;
    position: absolute;
    left: 0;
    right: 0;
    top: -17px;
}

.box2_vz_b5_tx {
    position: relative;
}

.box3_vz_b5_item svg {
    width: 57px;
    fill: #505050;
    padding: 5px 0;
    padding-left: 34px;
    border-left: 1px solid #b49d72;
}

.box3_vz_b5 {
    padding-left: 100px;
    margin-top: 45px;
}

p.box3_vz_b5_item_tx1 {
    font-size: 20px;
    line-height: 30px;
    color: #b49d72;
    font-weight: 600;
    margin-bottom: 45px;
    letter-spacing: 0.5px;
}

p.box3_vz_b5_item_tx2 {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 60px;
    letter-spacing: 0.5px;
}

.box1_vz_b6 {
    padding-left: 100px;
    color: #fff;
}

p.vz_b6_zg {
    font-size: 40px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0.43px;
    color: #fff;
    font-weight: 600;
    margin-top: 112px;
    margin-bottom: 90px;
    padding-left: 100px;
}

.box1_vz_b6_item {
    display: flex;
    margin-bottom: 60px;
}

.box1_vz_b6_item_text_item {
    display: flex;
    margin-bottom: 40px;
}

.box1_vz_b6_item_text_item_tx1 {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b49d72 !important;
    border-radius: 50px;
    align-self: center;
    margin-right: 37px;
}

.box1_vz_b6_item_text_item_tx1 p {
    font-weight: 600;
    font-size: 30px;
    display: flex;
    font-family: 'AHuxleyBold';
}

body > section.vz_b6 > div > div > div:nth-child(1) > div.box1_vz_b6_item_text > div:nth-child(3) > div.box1_vz_b6_item_text_item_tx1 > p {
    font-size: 23px;
}

.box1_vz_b6_item_text_item_tx2 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.box1_vz_b6_item_text {
    margin-left: 66px;
    margin-top: -20px;
}

section.vz_b6 > div > div > div:nth-child(2) {justify-content: space-between;}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_text {
    order: -1;
    margin-top: 0;
    margin-left: 0;
}

p.box1_vz_b6_item_text_item_tx2_item_zg {
    color: #b49d72;
    font-size: 17px;
    letter-spacing: 0.42px;
    line-height: 23px;
    font-weight: 600;
}

p.box1_vz_b6_item_text_item_tx2_item_opis {
    letter-spacing: 0.5px;
    line-height: 26px;
    font-size: 18px;
}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_image {
    width: 520px;
}

section.vz_b6 > div > div > div:nth-child(1) > div.box1_vz_b6_item_image > img {
    margin-left: -35px;
}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_text > div:nth-child(1) > div.box1_vz_b6_item_text_item_tx1 {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' fill='%23fff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-49 141 512 512' style='enable-background:new -49 141 512 512;' xml:space='preserve'%3e%3cpath d='M453.001,231.228H-39c-5.522,0-10,4.479-10,10v311.543c0,0.002,0,0.005,0,0.007c0,1.015,0.153,2.006,0.444,2.947 c0.073,0.238,0.163,0.469,0.254,0.7c0.027,0.068,0.047,0.138,0.075,0.205c0.098,0.234,0.211,0.459,0.326,0.684 c0.031,0.062,0.057,0.126,0.09,0.187c0.104,0.194,0.222,0.378,0.338,0.564c0.055,0.088,0.104,0.18,0.162,0.266 c0.097,0.144,0.205,0.28,0.309,0.418c0.09,0.121,0.175,0.245,0.27,0.362c0.077,0.094,0.163,0.181,0.244,0.272 c0.134,0.152,0.265,0.305,0.408,0.449c0.05,0.05,0.105,0.094,0.156,0.143c0.182,0.175,0.365,0.348,0.56,0.509 c0.026,0.022,0.055,0.04,0.081,0.062c0.223,0.18,0.451,0.354,0.69,0.516c0.027,0.018,0.056,0.033,0.083,0.051 c0.24,0.158,0.484,0.311,0.739,0.449c0.866,0.471,1.809,0.815,2.805,1.014h0.001c0.018,0.004,0.037,0.005,0.055,0.008 c0.298,0.058,0.6,0.106,0.906,0.136c0.34,0.035,0.678,0.053,1.014,0.053c0.016,0,0.031-0.002,0.046-0.002H453 c5.522,0,10-4.477,10-10V241.228C463.001,235.707,458.523,231.228,453.001,231.228z M-29,251.228h178.836 c-21.773,8.182-43.548,19.687-64.326,35.902c-30.497,23.799-56.852,56.287-78.336,96.563C-6.602,409.52-18.691,439.146-29,472.257 V251.228z M255.734,542.771H-26.712c52.166-242.949,170.59-285.651,282.447-291.14L255.734,542.771L255.734,542.771z M275.734,542.771v-11.216c3.303,4.184,6.893,7.919,10.695,11.216H275.734z M326.385,540.926 c-20.377-4.026-41.166-20.39-48.665-50.932h48.665V540.926z M326.385,469.994h-50.65v-29.373h50.65V469.994z M275.734,420.621 V251.437c118.145,4.613,163.504,91.015,167.032,169.184H275.734L275.734,420.621z M346.385,479.994v-39.373h96.28 c-3.86,57.59-41.205,96.712-96.28,100.92V479.994z M443.001,542.771h-36.473c8.346-5.312,15.988-11.691,22.822-19.117 c5.101-5.542,9.656-11.613,13.65-18.122v37.239H443.001z M443.001,335.144c-7.581-16.343-17.217-31.193-28.768-44.086 c-14.957-16.696-32.887-30.022-53.341-39.83h82.109V335.144z'/%3e%3cpath d='M106.146,522.898H108c5.523,0,10-4.477,10-10c0-5.521-4.477-10-10-10h-1.854c-5.522,0-10,4.479-10,10 C96.146,518.421,100.623,522.898,106.146,522.898z'/%3e%3cpath d='M4.444,512.898c0,5.523,4.477,10,10,10h63.909c5.523,0,10-4.477,10-10c0-5.521-4.477-10-10-10H14.444 C8.922,502.898,4.444,507.377,4.444,512.898z'/%3e%3c/svg%3e") no-repeat center;
    background-size: 57px;
}


section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_text > div:nth-child(2) > div.box1_vz_b6_item_text_item_tx1 {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' fill='%23fff' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-49 141 512 512' style='enable-background:new -49 141 512 512;' xml:space='preserve'%3e%3ccircle cx='12.02' cy='377.43' r='10'/%3e%3ccircle cx='56.14' cy='377.43' r='10'/%3e%3ccircle cx='101.48' cy='377.43' r='10'/%3e%3ccircle cx='273.67' cy='371.77' r='10'/%3e%3ccircle cx='367.12' cy='331.04' r='10'/%3e%3ccircle cx='411.24' cy='331.04' r='10'/%3e%3ccircle cx='12.02' cy='563.74' r='10'/%3e%3ccircle cx='56.14' cy='563.74' r='10'/%3e%3ccircle cx='389.16' cy='195.775' r='10'/%3e%3cpath d='M453,275.347H325.318c-5.523,0-10,4.478-10,10v117.271H131.682c-5.523,0-10,4.478-10,10v154.937c0,5.522,4.477,10,10,10 H263.67v48.371H-29V168.075h292.669v162.97c0,5.522,4.477,10,10,10s10-4.478,10-10v-172.97c0-5.522-4.477-10-10-10H-39 c-5.523,0-10,4.478-10,10v477.85c0,5.522,4.477,10,10,10h312.669c5.523,0,10-4.478,10-10v-58.371h113.202c5.523,0,10-4.478,10-10 v-96.785H453c5.523,0,10-4.478,10-10V285.347C463,279.824,458.523,275.347,453,275.347z M361.042,422.617l-96.765,55.919 l-96.765-55.919H361.042z M141.682,557.554V430.79l117.591,67.954c1.548,0.895,3.275,1.342,5.003,1.342s3.456-0.447,5.003-1.342 l117.592-67.954v126.764L141.682,557.554L141.682,557.554z M443,450.769h-36.128v-38.151c0-5.522-4.477-10-10-10h-61.553V295.347 H443V450.769z'/%3e%3cpath d='M-2.096,298.429c0,23.499,19.118,42.616,42.617,42.616s42.617-19.117,42.617-42.616c0-23.499-19.118-42.616-42.617-42.616 S-2.096,274.93-2.096,298.429z M63.138,298.429c0,12.471-10.146,22.616-22.617,22.616s-22.617-10.146-22.617-22.616 c0-12.47,10.146-22.616,22.617-22.616S63.138,285.958,63.138,298.429z'/%3e%3cpath d='M453,148.075H325.318c-5.523,0-10,4.478-10,10v75.4c0,5.522,4.477,10,10,10H453c5.523,0,10-4.478,10-10v-75.4 C463,152.553,458.523,148.075,453,148.075z M443,223.476H335.318v-55.4H443V223.476z'/%3e%3cpath d='M231.502,220.069c0-5.522-4.477-10-10-10H6.765c-5.523,0-10,4.478-10,10s4.477,10,10,10h214.738 C227.025,230.069,231.502,225.592,231.502,220.069z'/%3e%3c/svg%3e") no-repeat center;
    background-size: 57px;
}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_text > div:nth-child(3) > div.box1_vz_b6_item_text_item_tx1 {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' fill='%23fff' id='&%23x421;&%23x43B;&%23x43E;&%23x439;_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3e%3cg%3e%3cpath d='M335.362,246.945c5.52,0,10-4.48,10-10c0-5.52-4.48-10-10-10c-5.52,0-10,4.48-10,10 C325.362,242.465,329.842,246.945,335.362,246.945L335.362,246.945z M335.362,246.945'/%3e%3cpath d='M295.362,246.945c5.52,0,10-4.48,10-10c0-5.52-4.48-10-10-10c-5.52,0-10,4.48-10,10 C285.362,242.465,289.842,246.945,295.362,246.945L295.362,246.945z M295.362,246.945'/%3e%3cpath d='M481.362,166.945h-76v-96c0-2.555-1.016-5.148-2.914-7.059c-0.008-0.003-0.012-0.007-0.016-0.011L342.421,3.863 c-1.942-1.934-4.528-2.918-7.059-2.918h-220c-5.523,0-10,4.477-10,10v156h-76c-16.543,0-30,13.457-30,30v180 c0,16.543,13.457,30,30,30h76v96c0,5.523,4.477,10,10,10h280c5.523,0,10-4.477,10-10v-96h76c16.543,0,30-13.457,30-30v-180 C511.362,180.402,497.905,166.945,481.362,166.945L481.362,166.945z M345.362,35.09l25.855,25.855h-25.855V35.09z M125.362,20.945 h200v50c0,5.523,4.477,10,10,10h50v86h-260V20.945z M29.362,186.945h452c5.516,0,10,4.484,10,10v70h-472v-70 C19.362,191.429,23.846,186.945,29.362,186.945L29.362,186.945z M105.362,385.226c-11.641-4.129-20-15.246-20-28.281 c0-13.324,8.613-24.277,20-28.297V385.226z M385.362,492.945h-260v-166h260V492.945z M425.362,356.945 c0,13.324-8.613,24.277-20,28.297v-56.578C417.003,332.793,425.362,343.91,425.362,356.945L425.362,356.945z M481.362,386.945 h-46.004c6.488-8.609,10.004-19.035,10.004-30c0-27.57-22.43-50-50-50h-280c-27.625,0-50,22.379-50,50 c0,11.246,3.734,21.637,10.027,30H29.362c-5.516,0-10-4.484-10-10v-90h472v90C491.362,382.461,486.878,386.945,481.362,386.945 L481.362,386.945z M481.362,386.945'/%3e%3cpath d='M335.362,366.945h-160c-5.523,0-10,4.477-10,10c0,5.523,4.477,10,10,10h160c5.523,0,10-4.477,10-10 C345.362,371.422,340.885,366.945,335.362,366.945L335.362,366.945z M335.362,366.945'/%3e%3cpath d='M335.362,426.945h-160c-5.523,0-10,4.477-10,10c0,5.523,4.477,10,10,10h160c5.523,0,10-4.477,10-10 C345.362,431.422,340.885,426.945,335.362,426.945L335.362,426.945z M335.362,426.945'/%3e%3cpath d='M375.362,246.945h60c5.523,0,10-4.477,10-10c0-5.523-4.477-10-10-10h-60c-5.523,0-10,4.477-10,10 C365.362,242.468,369.839,246.945,375.362,246.945L375.362,246.945z M375.362,246.945'/%3e%3c/g%3e%3c/svg%3e") no-repeat center;
    background-size: 57px;
}

.box1_vz_b6_item_text_item_tx1 p b {
    font-size: 20px;
    align-self: center;
    padding-left: 3px;
}

.box1_vz_b7 > div {
    background: url(../../img/old/vizit/vz_b7_bg.png) no-repeat center;
}
.webp .box1_vz_b7 > div {
    background: url(../../img/old/vizit/vz_b7_bg.webp) no-repeat center;
}
.box2_vz_b7 {
    display: flex;
    color: #fff;
    font-weight: 300;
    flex-wrap: wrap;
    padding-left: 100px;
}

.box2_vz_b7_item {
    width: 290px;
    margin-right: 60px;
}

.box2_vz_b7_item p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 106px;
}

p.box2_vz_b7_item_tx1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.3px;
    color: #b49d72;
    margin-bottom: 26px;
}

p.box2_vz_b7_item_tx2 {
    margin-bottom: 30px;
    font-weight: 600;
}

p.box2_vz_b8_zg {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-top: 124px;
}

.webp .box1_vz_b8 > div {
    background: url(../../img/old/vizit/vz_b8_bg.webp) no-repeat center;
}
.box1_vz_b8 > div {
    background: url(../../img/old/vizit/vz_b8_bg.png) no-repeat center;
}
p.box2_vz_b8_tx {
    text-align: center;
    margin: -40px auto 0;
    max-width: 820px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 135px;
}

p.box2_vz_b8_tx b {
    color: #b49d72;
    font-weight: 500;
}

.box1_vz_b9 {
    padding-left: 100px;
    display: flex;
}

.box1_vz_b9_text p {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

p.box1_vz_b9_tx1 {
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0.43px;
    font-weight: 600;
    margin-bottom: 71px;
}

p.box1_vz_b9_tx3 {
    font-weight: 600;
    letter-spacing: 0.57px;
    color: #b49d72;
    margin-bottom: 51px;
    font-size: 23px;
}

.box1_vz_b9_image img {
    margin-top: 70px;
    margin-left: 20px;
}

.box1_vz_b9_image {
    width: 390px;
}

p.box1_vz_b9_tx4 {
    font-size: 20px;
    line-height: 30px;
}

.box2_vz_b9 {
    padding-left: 100px;
    display: flex;
    margin-top: 51px;
}

.box2_vz_b9_item_icon {
    width: 100px;
    height: 100px;
    background-color: #b49d72 !important;
    border-radius: 50px;
}

.box2_vz_b9_item {
    margin-right: 160px;
}

.box2_vz_b9_item p {
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-top: 22px;
}

p.vz_b9_tx {
    padding-left: 100px;
    font-size: 23px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.57px;
    color: #cbbd91;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 60px;
}

section.vz_b9 > div > div.box2_vz_b9 > div:nth-child(1) > div {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' fill='%23fff' id='&%23x421;&%23x43B;&%23x43E;&%23x439;_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 384 285' style='enable-background:new 0 0 384 285;' xml:space='preserve'%3e%3cg%3e%3cpath d='M74.362,240.445c16.543,0,30-13.457,30-30s-13.457-30-30-30s-30,13.457-30,30S57.819,240.445,74.362,240.445 L74.362,240.445z M74.362,195.445c8.27,0,15,6.73,15,15s-6.73,15-15,15s-15-6.73-15-15S66.092,195.445,74.362,195.445 L74.362,195.445z M74.362,195.445'/%3e%3cpath d='M236.362,195.445h22.5c4.141,0,7.5-3.359,7.5-7.5c0-4.141-3.359-7.5-7.5-7.5h-22.5c-16.543,0-30,13.457-30,30 s13.457,30,30,30h94.5c4.141,0,7.5-3.359,7.5-7.5s-3.359-7.5-7.5-7.5h-94.5c-8.27,0-15-6.73-15-15S228.092,195.445,236.362,195.445 L236.362,195.445z M236.362,195.445'/%3e%3cpath d='M383.362,75.445c0-41.355-33.645-75-75-75h-234c-41.355,0-75,33.645-75,75c0,29.648,17.297,55.336,42.328,67.5 c-25.031,12.164-42.328,37.852-42.328,67.5c0,41.355,33.645,75,75,75h117c4.141,0,7.5-3.359,7.5-7.5s-3.359-7.5-7.5-7.5h-72.043 c10.227-7.652,18.516-17.902,23.793-30h25.75c4.141,0,7.5-3.359,7.5-7.5s-3.359-7.5-7.5-7.5H147.85 c0.996-4.906,1.512-9.922,1.512-15c0-24.508-11.816-46.305-30.051-60h189.051c21.668,0,41.395,11.707,51.965,30h-51.965 c-4.141,0-7.5,3.359-7.5,7.5c0,4.141,3.359,7.5,7.5,7.5h58.109c1.254,4.867,1.891,9.891,1.891,15c0,33.086-26.914,60-60,60h-49.5 c-4.141,0-7.5,3.359-7.5,7.5s3.359,7.5,7.5,7.5h49.5c41.355,0,75-33.645,75-75c0-29.027-16.641-55.035-42.348-67.492 C366.057,130.793,383.362,105.101,383.362,75.445L383.362,75.445z M14.362,75.445c0-33.086,26.914-60,60-60 c25.395,0,48.137,16.074,56.59,40c0,0,0,0,0,0.004c2.262,6.391,3.41,13.121,3.41,19.996s-1.148,13.605-3.41,20 c-8.453,23.926-31.195,40-56.59,40C41.276,135.445,14.362,108.531,14.362,75.445L14.362,75.445z M134.362,210.445 c0,33.457-27.211,60-60,60c-33.086,0-60-26.914-60-60s26.914-60,60-60S134.362,177.359,134.362,210.445L134.362,210.445z M308.362,135.445H119.319c10.227-7.652,18.516-17.902,23.793-30h70.75c4.141,0,7.5-3.359,7.5-7.5s-3.359-7.5-7.5-7.5H147.85 c0.996-4.906,1.512-9.922,1.512-15c0-5.078-0.516-10.094-1.512-15h21.012c4.141,0,7.5-3.359,7.5-7.5s-3.359-7.5-7.5-7.5h-25.75 c-5.277-12.098-13.57-22.348-23.793-30h189.043c30.543,0,55.809,22.945,59.516,52.5h-37.016c-4.141,0-7.5,3.359-7.5,7.5 c0,4.141,3.359,7.5,7.5,7.492h37.016C364.171,112.5,338.905,135.445,308.362,135.445L308.362,135.445z M308.362,135.445'/%3e%3cpath d='M74.362,45.445c-16.543,0-30,13.457-30,30s13.457,30,30,30s30-13.457,30-30S90.905,45.445,74.362,45.445L74.362,45.445z M74.362,90.445c-8.27,0-15-6.73-15-15c0-8.27,6.73-15,15-15s15,6.73,15,15C89.362,83.715,82.632,90.445,74.362,90.445 L74.362,90.445z M74.362,90.445'/%3e%3cpath d='M258.862,45.445h-45c-4.141,0-7.5,3.359-7.5,7.5s3.359,7.5,7.5,7.5h45c8.27,0,15,6.73,15,15c0,8.27-6.73,15-15,15 c-4.141,0-7.5,3.359-7.5,7.5s3.359,7.5,7.5,7.5c16.543,0,30-13.457,30-30S275.405,45.445,258.862,45.445L258.862,45.445z M258.862,45.445'/%3e%3cpath d='M232.612,277.945c0,4.141-3.359,7.5-7.5,7.5s-7.5-3.359-7.5-7.5s3.359-7.5,7.5-7.5S232.612,273.804,232.612,277.945 L232.612,277.945z M232.612,277.945'/%3e%3c/g%3e%3c/svg%3e") no-repeat center;
    background-size: 52px;
}

section.vz_b9 > div > div.box2_vz_b9 > div:nth-child(2) > div {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' fill='%23fff' id='&%23x421;&%23x43B;&%23x43E;&%23x439;_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 384 384' style='enable-background:new 0 0 384 384;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cdefs%3e%3crect id='SVGID_1_' x='-0.638' y='0.945' width='384' height='384'/%3e%3c/defs%3e%3cclipPath id='SVGID_2_'%3e%3cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3e%3c/clipPath%3e%3cpath style='clip-path:url(%23SVGID_2_);' d='M383.268,192.945c0-2.797-1.558-5.359-4.039-6.648l-72.308-37.625l72.308-37.629 c2.481-1.289,4.039-3.852,4.039-6.649s-1.558-5.359-4.039-6.648l-62.281-32.41c-3.676-1.911-8.199-0.481-10.109,3.191 c-1.915,3.672-0.485,8.199,3.187,10.109l49.504,25.758l-168.168,87.5l-168.168-87.5L191.362,16.89l58.82,30.606 c3.676,1.914,8.2,0.484,10.11-3.188c1.914-3.672,0.484-8.199-3.188-10.109L194.823,1.793c-2.172-1.129-4.75-1.129-6.922,0 L3.495,97.742c-2.481,1.293-4.039,3.855-4.039,6.652s1.558,5.36,4.039,6.649l72.308,37.625L3.495,186.297 c-2.481,1.289-4.039,3.851-4.039,6.648c0,2.797,1.558,5.359,4.039,6.648l72.308,37.625L3.495,274.847 c-2.481,1.289-4.039,3.856-4.039,6.649c0,2.797,1.558,5.359,4.039,6.652l184.406,95.949c1.086,0.567,2.273,0.848,3.461,0.848 c1.188,0,2.375-0.281,3.461-0.848l184.406-95.949c2.481-1.293,4.039-3.855,4.039-6.652c0-2.793-1.558-5.36-4.039-6.649 l-72.308-37.629l72.308-37.625C381.71,198.304,383.268,195.742,383.268,192.945L383.268,192.945z M194.823,206.996l95.855-49.875 l22.348,11.629l-167.898,87.64l-29.911-15.562L184.065,205l3.836,1.996c1.086,0.562,2.273,0.847,3.461,0.847 C192.55,207.843,193.737,207.558,194.823,206.996L194.823,206.996z M167.827,196.55l-68.852,35.825l-29.769-15.489l68.851-35.824 L167.827,196.55z M92.046,157.121l29.769,15.488l-68.851,35.824l-29.77-15.488L92.046,157.121z M359.53,281.496L191.362,369 L23.194,281.496l68.852-35.824l95.855,49.875c1.086,0.566,2.273,0.847,3.461,0.847c1.188,0,2.375-0.281,3.461-0.847l95.855-49.875 L359.53,281.496z M191.362,280.445l-30.012-15.613l167.903-87.641l30.277,15.754L191.362,280.445z M191.362,280.445'/%3e%3c/g%3e%3cpath d='M283.565,63.914c1.973,0,3.906-0.801,5.301-2.196c1.394-1.394,2.195-3.328,2.195-5.3c0-1.973-0.801-3.907-2.195-5.301 c-1.395-1.395-3.328-2.195-5.301-2.195c-1.969,0-3.906,0.8-5.297,2.195c-1.394,1.394-2.199,3.328-2.199,5.301 c0,1.972,0.801,3.906,2.199,5.3C279.663,63.113,281.596,63.914,283.565,63.914L283.565,63.914z M283.565,63.914'/%3e%3c/g%3e%3c/svg%3e") no-repeat center;
    background-size: 52px;
}

section.vz_b9 > div > div.box2_vz_b9 > div:nth-child(3) > div {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' fill='%23fff' id='&%23x421;&%23x43B;&%23x43E;&%23x439;_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 460 512' style='enable-background:new 0 0 460 512;' xml:space='preserve'%3e%3cg%3e%3cpath d='M449.362,40.855H239.354c-5.523,0-10,4.477-10,10c0,5.524,4.477,10,10,10h200.008v392.09H117.643 c1.11-3.129,1.719-6.492,1.719-10v-56.043c5.52-0.004,9.996-4.484,9.996-10.004c0-5.523-4.476-10-9.996-10v-60 c5.52,0,9.996-4.48,9.996-10.004c0-5.519-4.476-9.996-9.996-10v-59.996c5.52,0,9.996-4.48,9.996-10.004 c0-5.519-4.476-9.996-9.996-10v-59.996c5.52,0,9.996-4.48,9.996-10.004c0-5.519-4.476-9.996-9.996-10V70.945 c0-3.539-0.621-6.934-1.75-10.09h41.742c5.524,0,10-4.476,10-10c0-5.523-4.476-10-10-10H98.893l0.469-29.754 c0.039-2.679-0.996-5.261-2.875-7.172c-1.879-1.91-4.445-2.984-7.125-2.984h-60c-5.461,0-9.914,4.383-10,9.844l-0.504,32.058 C7.483,47.113-0.638,58.097-0.638,70.945v372c0,13.039,8.359,24.152,20,28.281v31.719c0,5.523,4.477,10,10,10h60 c5.523,0,10-4.477,10-10v-30h350c5.52,0,10-4.477,10-10V50.855C459.362,45.332,454.882,40.855,449.362,40.855L449.362,40.855z M88.733,452.945H29.362c-5.516,0-10-4.484-10-10v-372c0-5.516,4.484-10,10-10h60c5.516,0,10,4.484,10,10v372 c0,5.516-4.484,10-10,10H88.733z M79.206,20.945l-0.317,20H38.893l0.313-20H79.206z M39.362,492.945v-20h40v20H39.362z M39.362,492.945'/%3e%3cpath d='M399.358,106.902c5.524,0,10-4.48,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10v0.008 C389.358,102.429,393.835,106.902,399.358,106.902L399.358,106.902z M399.358,106.902'/%3e%3cpath d='M389.358,176.906c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10 V176.906z M389.358,176.906'/%3e%3cpath d='M389.358,256.906c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10 V256.906z M389.358,256.906'/%3e%3cpath d='M389.358,336.906c0,5.519,4.481,9.996,10,9.996c5.524,0,10-4.484,10-10.004c0-5.523-4.476-10-10-10 c-5.519,0-10,4.477-10,10V336.906z M389.358,336.906'/%3e%3cpath d='M389.358,416.902c0,5.523,4.481,10,10,10c5.524,0,10-4.484,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10 V416.902z M389.358,416.902'/%3e%3cpath d='M359.358,146.902c5.52,0,10-4.48,10-10.004c0-5.523-4.48-10-10-10c-5.523,0-10,4.477-10,10v0.008 C349.358,142.429,353.835,146.902,359.358,146.902L359.358,146.902z M359.358,146.902'/%3e%3cpath d='M349.358,216.906c0,5.523,4.477,9.996,10,9.996c5.52,0,10-4.48,10-10.004c0-5.523-4.48-10-10-10c-5.523,0-10,4.477-10,10 V216.906z M349.358,216.906'/%3e%3cpath d='M349.358,296.906c0,5.519,4.477,9.996,10,9.996c5.52,0,10-4.484,10-10.004c0-5.523-4.48-10-10-10c-5.523,0-10,4.477-10,10 V296.906z M349.358,296.906'/%3e%3cpath d='M349.358,376.902c0,5.523,4.477,10,10,10c5.52,0,10-4.484,10-10.004c0-5.523-4.48-10-10-10c-5.523,0-10,4.477-10,10 V376.902z M349.358,376.902'/%3e%3cpath d='M319.358,106.902c5.524,0,10-4.48,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10v0.008 C309.358,102.429,313.835,106.902,319.358,106.902L319.358,106.902z M319.358,106.902'/%3e%3cpath d='M309.358,176.906c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10 V176.906z M309.358,176.906'/%3e%3cpath d='M309.358,256.906c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10 V256.906z M309.358,256.906'/%3e%3cpath d='M309.358,336.906c0,5.519,4.481,9.996,10,9.996c5.524,0,10-4.484,10-10.004c0-5.523-4.476-10-10-10 c-5.519,0-10,4.477-10,10V336.906z M309.358,336.906'/%3e%3cpath d='M309.358,416.902c0,5.523,4.481,10,10,10c5.524,0,10-4.484,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10 V416.902z M309.358,416.902'/%3e%3cpath d='M279.358,146.902c5.52,0,10-4.48,10-10.004c0-5.523-4.48-10-10-10c-5.523,0-10,4.477-10,10v0.008 C269.358,142.429,273.835,146.902,279.358,146.902L279.358,146.902z M279.358,146.902'/%3e%3cpath d='M269.358,216.906c0,5.523,4.477,9.996,10,9.996c5.52,0,10-4.48,10-10.004c0-5.523-4.48-10-10-10c-5.523,0-10,4.477-10,10 V216.906z M269.358,216.906'/%3e%3cpath d='M269.358,296.906c0,5.519,4.477,9.996,10,9.996c5.52,0,10-4.484,10-10.004c0-5.523-4.48-10-10-10c-5.523,0-10,4.477-10,10 V296.906z M269.358,296.906'/%3e%3cpath d='M269.358,376.902c0,5.523,4.477,10,10,10c5.52,0,10-4.484,10-10.004c0-5.523-4.48-10-10-10c-5.523,0-10,4.477-10,10 V376.902z M269.358,376.902'/%3e%3cpath d='M239.358,106.902c5.524,0,10-4.48,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10v0.008 C229.358,102.429,233.835,106.902,239.358,106.902L239.358,106.902z M239.358,106.902'/%3e%3cpath d='M229.358,176.906c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10 V176.906z M229.358,176.906'/%3e%3cpath d='M229.358,256.906c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10 V256.906z M229.358,256.906'/%3e%3cpath d='M229.358,336.906c0,5.519,4.481,9.996,10,9.996c5.524,0,10-4.484,10-10.004c0-5.523-4.476-10-10-10 c-5.519,0-10,4.477-10,10V336.906z M229.358,336.906'/%3e%3cpath d='M229.358,416.902c0,5.523,4.481,10,10,10c5.524,0,10-4.484,10-10.004c0-5.523-4.476-10-10-10c-5.519,0-10,4.477-10,10 V416.902z M229.358,416.902'/%3e%3cpath d='M199.358,126.898c-5.523,0-10,4.477-10,10v0.008c0,5.523,4.477,9.996,10,9.996c5.524,0,10-4.48,10-10.004 C209.358,131.375,204.882,126.898,199.358,126.898L199.358,126.898z M199.358,126.898'/%3e%3cpath d='M199.358,206.898c-5.523,0-10,4.477-10,10v0.008c0,5.523,4.477,9.996,10,9.996c5.524,0,10-4.48,10-10.004 C209.358,211.375,204.882,206.898,199.358,206.898L199.358,206.898z M199.358,206.898'/%3e%3cpath d='M199.358,286.898c-5.523,0-10,4.477-10,10v0.008c0,5.519,4.477,9.996,10,9.996c5.524,0,10-4.484,10-10.004 C209.358,291.375,204.882,286.898,199.358,286.898L199.358,286.898z M199.358,286.898'/%3e%3cpath d='M199.358,366.898c-5.523,0-10,4.477-10,10v0.004c0,5.523,4.477,10,10,10c5.524,0,10-4.484,10-10.004 C209.358,371.375,204.882,366.898,199.358,366.898L199.358,366.898z M199.358,366.898'/%3e%3cpath d='M159.358,86.898c-5.519,0-10,4.477-10,10v0.008c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004 C169.358,91.375,164.882,86.898,159.358,86.898L159.358,86.898z M159.358,86.898'/%3e%3cpath d='M159.358,166.898c-5.519,0-10,4.477-10,10v0.008c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004 C169.358,171.375,164.882,166.898,159.358,166.898L159.358,166.898z M159.358,166.898'/%3e%3cpath d='M159.358,246.898c-5.519,0-10,4.477-10,10v0.008c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004 C169.358,251.375,164.882,246.898,159.358,246.898L159.358,246.898z M159.358,246.898'/%3e%3cpath d='M159.358,326.898c-5.519,0-10,4.477-10,10v0.008c0,5.519,4.481,9.996,10,9.996c5.524,0,10-4.484,10-10.004 C169.358,331.375,164.882,326.898,159.358,326.898L159.358,326.898z M159.358,326.898'/%3e%3cpath d='M159.358,406.898c-5.519,0-10,4.477-10,10v0.004c0,5.523,4.481,10,10,10c5.524,0,10-4.484,10-10.004 C169.358,411.375,164.882,406.898,159.358,406.898L159.358,406.898z M159.358,406.898'/%3e%3cpath d='M79.358,86.898c-5.519,0-10,4.477-10,10v0.008c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004 C89.358,91.375,84.882,86.898,79.358,86.898L79.358,86.898z M79.358,86.898'/%3e%3cpath d='M79.358,166.898c-5.519,0-10,4.477-10,10v0.008c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004 C89.358,171.375,84.882,166.898,79.358,166.898L79.358,166.898z M79.358,166.898'/%3e%3cpath d='M79.358,246.898c-5.519,0-10,4.477-10,10v0.008c0,5.523,4.481,9.996,10,9.996c5.524,0,10-4.48,10-10.004 C89.358,251.375,84.882,246.898,79.358,246.898L79.358,246.898z M79.358,246.898'/%3e%3cpath d='M79.358,326.898c-5.519,0-10,4.477-10,10v0.008c0,5.519,4.481,9.996,10,9.996c5.524,0,10-4.484,10-10.004 C89.358,331.375,84.882,326.898,79.358,326.898L79.358,326.898z M79.358,326.898'/%3e%3cpath d='M79.358,406.898c-5.519,0-10,4.477-10,10v0.004c0,5.523,4.481,10,10,10c5.524,0,10-4.484,10-10.004 C89.358,411.375,84.882,406.898,79.358,406.898L79.358,406.898z M79.358,406.898'/%3e%3cpath d='M39.358,126.898c-5.523,0-10,4.477-10,10v0.008c0,5.523,4.477,9.996,10,9.996c5.524,0,10-4.48,10-10.004 C49.358,131.375,44.882,126.898,39.358,126.898L39.358,126.898z M39.358,126.898'/%3e%3cpath d='M39.358,206.898c-5.523,0-10,4.477-10,10v0.008c0,5.523,4.477,9.996,10,9.996c5.524,0,10-4.48,10-10.004 C49.358,211.375,44.882,206.898,39.358,206.898L39.358,206.898z M39.358,206.898'/%3e%3cpath d='M39.358,286.898c-5.523,0-10,4.477-10,10v0.008c0,5.519,4.477,9.996,10,9.996c5.524,0,10-4.484,10-10.004 C49.358,291.375,44.882,286.898,39.358,286.898L39.358,286.898z M39.358,286.898'/%3e%3cpath d='M39.358,366.898c-5.523,0-10,4.477-10,10v0.004c0,5.523,4.477,10,10,10c5.524,0,10-4.484,10-10.004 C49.358,371.375,44.882,366.898,39.358,366.898L39.358,366.898z M39.358,366.898'/%3e%3cpath d='M199.358,60.855c5.524,0,10-4.476,10-10c0-5.523-4.476-10-10-10h-0.008c-5.523,0-9.996,4.477-9.996,10 C189.354,56.379,193.835,60.855,199.358,60.855L199.358,60.855z M199.358,60.855'/%3e%3c/g%3e%3c/svg%3e") no-repeat center;
    background-size: 47px;
}

section.vz_b9 > div > div.box2_vz_b9 > div:nth-child(4) > div {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' fill='%23fff' id='&%23x421;&%23x43B;&%23x43E;&%23x439;_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 384 384' style='enable-background:new 0 0 384 384;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cdefs%3e%3crect id='SVGID_1_' x='-0.638' y='0.945' width='384' height='384'/%3e%3c/defs%3e%3cclipPath id='SVGID_2_'%3e%3cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3e%3c/clipPath%3e%3cpath style='clip-path:url(%23SVGID_2_);' d='M381.167,115.64l-18.7-18.695l18.7-18.695c2.929-2.93,2.929-7.68,0-10.61l-24-24 c-1.41-1.406-3.317-2.195-5.305-2.195h-64.5c-4.141,0-7.5,3.359-7.5,7.5s3.359,7.5,7.5,7.5h61.395l16.5,16.5l-18.7,18.695 c-1.406,1.407-2.195,3.317-2.195,5.305s0.789,3.898,2.195,5.305l18.7,18.695l-18.7,18.695c-2.929,2.93-2.929,7.68,0,10.61 l18.7,18.695l-18.7,18.695c-1.406,1.407-2.195,3.317-2.195,5.305c0,1.988,0.789,3.895,2.195,5.305l18.7,18.695l-18.7,18.695 c-2.929,2.93-2.929,7.68,0,10.61l18.7,18.695l-18.7,18.695c-1.406,1.41-2.195,3.317-2.195,5.305s0.789,3.895,2.195,5.305 l18.7,18.695l-16.5,16.5H158.362v-273h61.5c4.141,0,7.5-3.359,7.5-7.5s-3.359-7.5-7.5-7.5h-112.5v-33c0-4.141-3.359-7.5-7.5-7.5 h-42c-4.141,0-7.5,3.359-7.5,7.5v33h-28.5c-12.406,0-22.5,10.094-22.5,22.5v258c0,12.406,10.094,22.5,22.5,22.5h28.5v33 c0,4.141,3.359,7.5,7.5,7.5h42c4.141,0,7.5-3.359,7.5-7.5v-33h244.5c1.988,0,3.895-0.789,5.305-2.195l24-24 c2.925-2.93,2.925-7.68,0-10.61l-18.7-18.695l18.7-18.695c2.929-2.93,2.929-7.68,0-10.61l-18.7-18.695l18.7-18.695 c2.929-2.93,2.929-7.68,0-10.61l-18.7-18.695l18.7-18.695c2.929-2.93,2.929-7.68,0-10.61l-18.7-18.695l18.7-18.695 C384.096,123.32,384.096,118.57,381.167,115.64L381.167,115.64z M65.362,15.945h27v25.5h-27V15.945z M92.362,369.945h-27v-25.5h27 V369.945z M21.862,329.445c-4.137,0-7.5-3.363-7.5-7.5v-258c0-4.137,3.363-7.5,7.5-7.5h121.5v273H21.862z M21.862,329.445'/%3e%3c/g%3e%3cpath d='M252.143,147.179l-43.976,43.977c-2.93,2.93-2.93,7.68,0,10.609c1.465,1.465,3.383,2.196,5.304,2.196 c1.918,0,3.836-0.731,5.301-2.196l43.981-43.976c2.925-2.93,2.925-7.68,0-10.61C259.823,144.25,255.073,144.25,252.143,147.179 L252.143,147.179z M252.143,147.179'/%3e%3cpath d='M206.272,279.406c1.465,1.465,3.383,2.195,5.305,2.195c1.918,0,3.836-0.73,5.301-2.195l79.539-79.535 c2.925-2.93,2.925-7.68,0-10.61c-2.93-2.925-7.68-2.925-10.61,0L206.272,268.8C203.342,271.726,203.342,276.476,206.272,279.406 L206.272,279.406z M206.272,279.406'/%3e%3cpath d='M57.862,200.34c1.922,0,3.84-0.735,5.305-2.2l40.351-40.351c2.93-2.93,2.93-7.68,0-10.61 c-2.929-2.929-7.676-2.929-10.605,0l-40.356,40.356c-2.929,2.926-2.929,7.676,0,10.605C54.022,199.605,55.94,200.34,57.862,200.34 L57.862,200.34z M57.862,200.34'/%3e%3cpath d='M101.807,214.031l-54.765,54.766c-2.93,2.929-2.93,7.679,0,10.609c1.465,1.465,3.382,2.195,5.3,2.195 c1.922,0,3.84-0.73,5.305-2.195l54.77-54.77c2.925-2.925,2.925-7.675,0-10.605C109.487,211.101,104.737,211.101,101.807,214.031 L101.807,214.031z M101.807,214.031'/%3e%3cpath d='M253.612,56.445c1.973,0,3.906-0.801,5.301-2.199c1.398-1.395,2.199-3.328,2.199-5.301s-0.801-3.906-2.199-5.301 c-1.395-1.398-3.328-2.199-5.301-2.199c-1.973,0-3.906,0.801-5.301,2.199c-1.398,1.395-2.199,3.328-2.199,5.301 s0.801,3.906,2.199,5.301C249.706,55.644,251.639,56.445,253.612,56.445L253.612,56.445z M253.612,56.445'/%3e%3c/g%3e%3c/svg%3e ") no-repeat center;
    background-size: 47px;
}

.box1_vz_b10 > div {
    background: url(../../img/old/vizit/vz_b10_bg.png) no-repeat center;
    margin-top: 111px;
}
.webp .box1_vz_b10 > div {
    background: url(../../img/old/vizit/vz_b10_bg.webp) no-repeat center;
    margin-top: 111px;
}
p.vz_b10_opis {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 300;
    color: #fff;
    max-width: 855px;
    margin: 130px auto 110px;
    letter-spacing: 0.5px;
}

p.vz_b10_opis b {
    font-weight: 500;
    color: #a59069;
}

.box1_vz_b11 {
    border-top: 1px solid #505154;
    padding: 108px 0;
    border-bottom: 1px solid #505154;
}

section.vz_b11 {
    padding: 0 !important;
}

.price_icon p {
    font-size: 130px;
    font-weight: 400;
    margin: 0;
    letter-spacing: -6.86px;
    color: #b49d72;
    display: table;
    line-height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'AHuxleyBold';
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: baseline;
}

.price_icon p i {
    display: block;
    width: 33px;
    height: 33px;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1038.1 1038.1'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23b49d72;stroke:%23b49d72;stroke-miterlimit:10;fill-rule:evenodd;%7d%3c/style%3e%3c/defs%3e%3ctitle%3edad%3c/title%3e%3cg id='ÃÂ¡ÃÂ»ÃÂ¾ÃÂ¹_2' data-name='ÃÂ¡ÃÂ»ÃÂ¾ÃÂ¹ 2'%3e%3cg id='' data-name='ÃÂ¡ÃÂ»ÃÂ¾ÃÂ¹ 1'%3e%3cpath class='cls-1' d='M996.81,720.92a519.92,519.92,0,1,1,40.79-201.87,516.68,516.68,0,0,1-40.79,201.87M519.05,98.11c-232.48,0-420.94,188.46-420.94,420.94S286.57,940,519.05,940,940,751.53,940,519.05,751.53,98.11,519.05,98.11M587,579.33l-2.8,0H489V621l140.21,0-.05,77.78H489l.09,78.84H410.91l-.05-78.85-61.54,0,.06-77.72,61.51,0V579.37l-61.53,0V501.21l61.53,0V292.67h174.2c79,0,143.24,64.31,143.24,143.35A143.28,143.28,0,0,1,587,579.33M585,370.84H489V501.18h96.58A65.36,65.36,0,0,0,650.23,436c0-31.17-25-65.18-65.19-65.18'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") center no-repeat;
    background-size: cover;
    margin: 0 0 0 12px;
}
.box1_vz_b4_item_tx1 p b {
    font-weight: 600;
}

.primer_block{
    margin: 70px 0px;
}
.primer_block-title{
    text-align: center;
    font-size: 34px;
    color: #fff;
    line-height: 51px;
    letter-spacing: .43px;
    font-weight: 600;
    margin-bottom: 60px;
}
.primer_block-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.primer_block-flex a, .primer_block-flex div{
    width: 47%;
}
.primer_block-flex a img{
    width: 100%;
    margin-bottom: 30px;
}
.dopstoim{
    text-align: center;color: #b49d72;font-size: 24px;margin-top: 20px;
}
section.vz_b1 {
    padding: 101px 0 0;
}
@media only screen and (max-width: 680px) { 
.primer_block-flex a{
    width: 100%;
}
body > section.vz_b5 > div > div.box1_vz_b5 > div > p {
    font-size: 20px;
    line-height: 27px !important;
    padding: 15px 5px !important;
}

.box1_vz_b1_image img {width: 310px;}

.box2_vz_b1 {
    padding: 0;
    border: none;
    flex-direction: column;
}

.box1_vz_b3_img img {
    width: 300px;
}

.box1_vz_b3_text {
    margin-left: 0;
}

.box1_vz_b4_item_image img {
    width: 350px;
}

.box1_vz_b4_item {
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.box1_vz_b4_item:nth-child(2) {
    margin-top: 50px;
    flex-direction: column;
}

p.box2_vz_b4_item_tx1 br {
    display: none;
}

.box2_vz_b5 {
    padding-left: 0;
    border: 0;
    flex-direction: column;
}

.box3_vz_b5 {
    padding-left: 5%;
    margin-top: 0;
}

.box2_vz_b4 {
    margin-left: 0;
}

p.vz_b6_zg {
    padding-left: 0;
    font-size: 30px;
    line-height: 39px;
    margin-top: 80px;
    margin-bottom: 70px;
}

.box1_vz_b6 {
    padding-left: 0;
}

.box1_vz_b6_item_image img {
    width: 200px;
    margin-left: 0 !important;
}

.box1_vz_b6_item_text_item {
    margin-bottom: 20px;
    flex-direction: column;
}

.box2_vz_b7 {
    padding-left: 0;
    justify-content: space-between;
}

.box2_vz_b7_item {
    margin-right: 0;
    width: 310px;
}

p.box2_vz_b8_zg {
    margin-top: 70px;
    margin-bottom: -50px;
}

.box1_vz_b9 {
    flex-direction: column;
    padding-left: 0;
}

.box1_vz_b9_image {width: auto;align-self: center;}

.box2_vz_b9 {
    padding-left: 0;
    margin: 50px 0px 10px;
    justify-content: center;
    flex-wrap: wrap;
}

p.vz_b9_tx {
    padding-left: 0;
    font-size: 18px;
    line-height: 26px;
    margin-top: 50px;
}

.box1_vz_b11 {
    padding: 50px 0;
}

p.box2_vz_b7_item_tx3 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 10px;
}

section.vz_b1 > div > div.main-970 {
    max-width: initial;
}

p.vz_b1_tx1 {
    font-size: 30px;
    line-height: 39px;
}

p.vz_b1_tx2 {
    margin-top: 50px;
    font-size: 18px;
    line-height: 26px;
}

p.box1_vz_b1_tx {
    font-size: 20px;
    line-height: 26px;
    width: 100%;
}

.box1_vz_b1 {
    flex-direction: column;
    margin-top: 0;
}

.box1_vz_b1_text {
    align-self: flex-start;
}

.box1_vz_b1_image {
    align-self: center;
    margin-bottom: 70px;
}

p.box2_vz_b1_item_tx {
    font-size: 20px;
    margin-top: 35px;
}

p.vz_b2_zg {
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 28px;
}

.box1_vz_b2_main {
    flex-direction: column;
}

.box1_vz_b2_main div {
    margin-bottom: 0;
}

a.ds-form-box-main-input_kn {
    padding: 20px 0;
    padding-left: 62px;
}

#ds-form-3\ box1_vz_b2_form > div > div:nth-child(1) {
    margin-right: 0;
}

.box1_vz_b3 {
    flex-direction: column;
}

.box1_vz_b3_img {
    align-self: center;
}

p.box1_vz_b3_tx1 {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 46px;
    text-align: center;
}

p.box1_vz_b3_tx2 {
    font-size: 20px;
    text-align: center;
}

section.vz_b4 > div > div.main-970 {
    max-width: initial;
}

p.vz_b4_zg {
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 45px;
    line-height: 27px;
}

.box1_vz_b4_item_tx1 svg {
    width: 50px;
}

.box1_vz_b4_item_tx1 p {
    font-size: 18px;
    padding-left: 20px;
    line-height: 26px;
}

.price_icon p{
    font-size: 120px;
    line-height: 149px;
    justify-content: center;
}

.box1_vz_b4_item:nth-child(2) .box1_vz_b4_item_text {
    margin-left: 0;
    margin-right: 0;
}

p.box2_vz_b4_item_tx1 {
    margin-bottom: 30px;
    margin-top: 9px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}

.box2_vz_b5_tx p br {
    display: none;
}

.box2_vz_b5_tx p {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 26px;
}

.box2_vz_b5_tx {
    border-top: 1px solid #505154;
}

p.box3_vz_b5_item_tx1 {
    margin-bottom: 9px;
}

.box1_vz_b6_item {
    flex-direction: column;
}

.box1_vz_b6_item_image {
    align-self: center;
    margin-bottom: 30px;
}

.box1_vz_b6_item_text {
    margin-left: 0;
    width: 100%;
}

.box1_vz_b6_item_text_item_tx2 {
    width: 100%;
    text-align: center;
}

.box1_vz_b6_item_text_item_tx1 {
    margin-right: 0;
    width: 80px;
    height: 80px;
}

.box1_vz_b6_item_text_item_tx2_ {
    width: 100%;
}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_text {
    order: 1;
}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_image {
    width: auto;
}

p.box2_vz_b7_item_tx1 {
    margin-bottom: 10px;
}

p.box2_vz_b7_item_tx2 {
    margin-top: 0;
    margin-bottom: 10px;
}

p.box2_vz_b8_tx {
    margin: 50px auto 80px;
}

p.box1_vz_b9_tx1 {
    line-height: 39px;
    font-size: 30px;
    margin-bottom: 30px;
}

p.box1_vz_b9_tx3 {
    margin-bottom: 30px;
}

.box1_vz_b9_image img {
    margin-left: 0;
    width: 300px;
    margin-top: 10px;
}

.box2_vz_b9_item {
    margin-right: 0px;
    align-self: center;
    margin: 0 20px;
}

p.vz_b10_opis {
    margin: 50px auto 50px;
    font-size: 18px;
    line-height: 26px;
}

.box2_vz_b1_item {
    border-top: 1px solid #505154;
    margin-bottom: 40px;
}

a.box1_vz_b3_text_kn.sbm.bt {
    margin: 0 auto;
}

.ds-bg-zg.ds-bg-1.vz_pad p {
    line-height: 31px;
}

.box2_vz_b4_item svg {
    width: 40px;
}

.box2_vz_b4_item {
    margin-bottom: 35px;
}

p.box3_vz_b5_item_tx2 {
    font-size: 17px;
    line-height: 25px;
    margin: 34px 0;
}

.box1_vz_b6_item_text_item_tx1 p {
    font-size: 20px;
}

.box1_vz_b6_item_text_item_tx2 p {
    font-size: 18px;
    letter-spacing: initial;
    line-height: 26px;
}

body > section.vz_b6 > div > div > div:nth-child(1) > div.box1_vz_b6_item_text > div:nth-child(3) > div.box1_vz_b6_item_text_item_tx1 > p {
    font-size: 16px;
}

.box1_vz_b6_item_text_item_tx1 p b {
    font-size: 15px;
}

.box1_vz_b6_item_text_item_tx2_item {text-align: center;}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_text > div:nth-child(2) > div.box1_vz_b6_item_text_item_tx1 {
    background-size: 40px;
}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_text > div:nth-child(1) > div.box1_vz_b6_item_text_item_tx1 {
    background-size: 40px;
}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_text > div:nth-child(3) > div.box1_vz_b6_item_text_item_tx1 {
    background-size: 40px;
}

p.box1_vz_b9_tx2 {
    font-size: 18px;
    line-height: 26px;
}

body > section.vz_b3 > div > div.box2_vz_b3 > div > p {
    line-height: 25px !important;
}

section.vz_b-form {
    padding: 40px 0 0;
}

}

@media screen and (max-width: 680px) and (min-width: 549px) {

}

@media screen and (min-width: 681px) and (max-width: 980px) { 
.box1_vz_b1_image img {width: 310px;}

.box2_vz_b1 {
    padding: 0;
}

.box1_vz_b3_img img {
    width: 300px;
}

.box1_vz_b3_text {
    margin-left: 0;
}

.box1_vz_b4_item_image img {
    width: 350px;
}

.box1_vz_b4_item {
    margin: 0 auto;
    padding: 0;
}

.box1_vz_b4_item:nth-child(2) {
    margin-top: 100px;
}

p.box2_vz_b4_item_tx1 br {
    display: none;
}

.box2_vz_b5 {
    padding-left: 0;
    border: 0;
    flex-direction: column;
}

.box3_vz_b5 {
    padding-left: 0;
}

.box2_vz_b4 {
    margin-left: 0;
}

p.vz_b6_zg {
    padding-left: 0;
    font-size: 35px;
}

.box1_vz_b6 {
    padding-left: 0;
}

.box1_vz_b6_item_image img {
    width: 300px;
    margin-left: 0 !important;
}

.box1_vz_b6_item_text_item {
    margin-bottom: 20px;
}

.box2_vz_b7 {
    padding-left: 0;
    justify-content: space-between;
}

.box2_vz_b7_item {
    margin-right: 0;
    width: 310px;
}

p.box2_vz_b8_zg {
    margin-top: 70px;
    margin-bottom: -50px;
}

.box1_vz_b9 {
    flex-direction: column;
    padding-left: 0;
}

.box1_vz_b9_image {width: auto;align-self: center;}

.box2_vz_b9 {
    padding-left: 0;
    justify-content: space-between;
}

p.vz_b9_tx {
    padding-left: 0;
    font-size: 20px;
}

.box1_vz_b11 {
    padding: 50px 0;
}

p.box2_vz_b7_item_tx3 {
    margin-bottom: 40px;
}

section.vz_b1 > div > div.main-970 {
    max-width: initial;
}

p.vz_b1_tx1 {
    font-size: 35px;
    line-height: 45px;
}

p.vz_b1_tx2 {
    margin-top: 50px;
}

p.box1_vz_b1_tx {
    font-size: 22px;
    line-height: 27px;
}

.box1_vz_b1 {
    flex-direction: column;
    margin-top: 0;
}

.box1_vz_b1_text {
    align-self: flex-start;
}

.box1_vz_b1_image {
    align-self: center;
    margin-bottom: 70px;
}

p.box2_vz_b1_item_tx {
    font-size: 20px;
}

p.vz_b2_zg {
    font-size: 22px;
    margin-bottom: 30px;
}

.box1_vz_b2_main {
    flex-direction: column;
}

.box1_vz_b2_main div {
    margin-bottom: 25px;
}

a.ds-form-box-main-input_kn {
    padding: 20px 0;
    padding-left: 62px;
}

#ds-form-3\ box1_vz_b2_form > div > div:nth-child(1) {
    margin-right: 0;
}

section.vz_b2 {
    margin-top: 100px;
}

.box1_vz_b3 {
    flex-direction: column;
}

.box1_vz_b3_img {
    align-self: center;
}

p.box1_vz_b3_tx1 {
    font-size: 35px;
    margin-bottom: 45px;
}

p.box1_vz_b3_tx2 {
    font-size: 20px;
}

section.vz_b4 > div > div.main-970 {
    max-width: initial;
}

p.vz_b4_zg {
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.box1_vz_b4_item_tx1 svg {
    width: 60px;
}

.box1_vz_b4_item_tx1 p {
    font-size: 20px;
    padding-left: 20px;
}

.price_icon p {
    font-size: 120px;
    line-height: 149px;
}

.box1_vz_b4_item:nth-child(2) .box1_vz_b4_item_text {
    margin-left: 40px;
    margin-right: 0;
}

p.box2_vz_b4_item_tx1 {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 30px;
}

section.vz_b5 > div > div.box1_vz_b5 > div > p {
    font-size: 30px;
    line-height: 42px;
}

.box2_vz_b5_tx p br {
    display: none;
}

.box2_vz_b5_tx p {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 60px;
}

.box2_vz_b5_tx {
    border-top: 1px solid #505154;
}

p.box3_vz_b5_item_tx1 {
    margin-bottom: 20px;
}

.box1_vz_b6_item {
    flex-direction: column;
}

.box1_vz_b6_item_image {
    align-self: center;
    margin-bottom: 30px;
}

.box1_vz_b6_item_text {
    margin-left: 0;
}

.box1_vz_b6_item_text_item_tx2 {
    width: 80%;
}

.box1_vz_b6_item_text_item_tx1 {
    margin-right: 30px;
}

.box1_vz_b6_item_text_item_tx2_ {
    width: 80%;
}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_text {
    order: 1;
}

section.vz_b6 > div > div > div:nth-child(2) > div.box1_vz_b6_item_image {
    width: auto;
}

p.box2_vz_b7_item_tx1 {
    margin-bottom: 10px;
}

p.box2_vz_b7_item_tx2 {
    margin-top: 0;
    margin-bottom: 20px;
}

p.box2_vz_b8_tx {
    margin: -90px auto 80px;
}

p.box1_vz_b9_tx1 {
    font-size: 35px;
    margin-bottom: 30px;
}

p.box1_vz_b9_tx3 {
    margin-bottom: 35px;
}

.box1_vz_b9_image img {
    margin-left: 0;
    width: 300px;
    margin-top: 40px;
}

.box2_vz_b9_item {
    margin-right: 0px;
}

p.vz_b10_opis {
    margin: 80px auto 80px;
}


}

@media screen and (min-width: 981px) and (max-width: 1170px) {
.box1_vz_b1_image img {width: 310px;}

.box2_vz_b1 {
    padding: 0 60px;
}

.box1_vz_b3_img img {
    width: 480px;
}

.box1_vz_b3_text {
    margin-left: 40px;
}

.box1_vz_b4_item_image img {
    width: 500px;
}

.box1_vz_b4_item {
    margin: 0 auto;
    padding: 0 50px;
}

.box1_vz_b4_item:nth-child(2) {
    margin-top: 100px;
}

p.box2_vz_b4_item_tx1 br {
    display: none;
}

.box2_vz_b5 {
    padding-left: 50px;
}

.box3_vz_b5 {
    padding-left: 50px;
}

.box2_vz_b4 {
    margin-left: 50px;
}

p.vz_b6_zg {
    padding-left: 50px;
}

.box1_vz_b6 {
    padding-left: 50px;
}

.box1_vz_b6_item_image img {
    width: 350px;
}

.box1_vz_b6_item_text_item {
    margin-bottom: 5px;
}

.box2_vz_b7 {
    padding-left: 50px;
}

.box2_vz_b7_item {
    margin-right: 40px;
    width: 250px;
}

p.box2_vz_b8_zg {
    margin-top: 100px;
}

.box1_vz_b9 {
    padding-left: 50px;
}

.box1_vz_b9_image {width: auto;}

.box2_vz_b9 {
    padding-left: 50px;
}

p.vz_b9_tx {
    padding-left: 50px;
}

.box1_vz_b11 {
    padding: 50px 0;
}

p.box2_vz_b7_item_tx3 {
    margin-bottom: 75px;
}

}